@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "variable.css";

body {
  font-family: "Open Sans", sans-serif;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5%;
  /* align-items: center; */
}
#login-form input {
  font-size: 120%;
  padding: 3% 2%;
  margin: 1%;
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input:nth-child(3) {
  margin-top: 7%;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
