#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5%;
  /* align-items: center; */
}
#login-form input {
  font-size: 120%;
  padding: 3% 2%;
  margin: 1%;
  border: none;
  /* border-bottom: 1.5px solid rgba(0, 0, 0, 0.2); */
  /* Transition */
  /* transition: border-color 0.3s ease-in-out; */
}
#login-form input:nth-child(3) {
  margin-top: 7%;
}
/* Pseudo Element ::placeholder */
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* input의 type이 submit이 아닐 때 */
#login-form input:not([type="submit"]) {
  /* transition */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
/* Variable var(--yellow) */
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-top: 3%;
  font-size: 90%;
}
